.fact-container {
    width: 360px;
    align-items: center;
    justify-content: space-between;
}

.icon-next {
    font-size: 24px;
    color: rgb(243, 242, 242);
    margin: 0;
}

.fact-container p {
    text-align: justify;
}

@media (max-width: 360px) {
    .fact-container {
        width: 300px;
    }
}