.home-container {
    width: 360px;
    margin: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}

.home-icons-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 24px;
}

.home-icon-insta,
.home-icon-fb,
.home-icon-twitter {
    font-size: 76px;
    transition: 0.3s;
    margin: 0 5px;
}

.home-icon-insta.day,
.home-icon-fb.day,
.home-icon-twitter.day {
    color: rgb(69, 69, 69);
}

.home-icon-insta.night,
.home-icon-fb.night,
.home-icon-twitter.night {
    color: rgb(243, 242, 242);
}

.home-icon-insta:hover,
.home-icon-fb:hover,
.home-icon-twitter:hover {
    color: #56cde4;
}

@media (max-width: 360px) {
    .home-container {
        width: 300px;
    }
    .home-icon-insta,
    .home-icon-fb,
    .home-icon-twitter {
        font-size: 56px;
    }
}
