.question-container {
    width: 360px;
    margin: 24px;
    align-items: center;
}

.radio-container {
    display: flex;
    align-items: center;
    margin: 0 0 16px 12px;
}

.radio-container input[type='radio'] {
    display: none;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.custom-radio::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.radio-container input[type='radio']:checked + .custom-radio::before {
    opacity: 1;
}