.question-container {
    width: 360px;
    margin: 36px;
    align-items: center;
}

.radio-container {
    display: flex;
    align-items: center;
    margin: 0 0 16px 12px;
}

.radio-container input[type='radio'] {
    display: none;
}

.check-icon {
    margin-right: 10px;
    transition: opacity 0.3s ease;
}

.hidden {
    visibility: hidden;
}

h1::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(69, 69, 69);
}
