.social-page-container {
    width: 360px;
    margin: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sm-icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.icon-insta.day,
.icon-fb.day,
.icon-twitter.day {
    color: rgb(69, 69, 69);
    font-size: 76px;
    transition: 0.3s;
    color: rgb(69, 69, 69);
    margin: 0 20px;
}

.icon-insta.night,
.icon-fb.night,
.icon-twitter.night {
    color: #f3f2f2;
    font-size: 76px;
    transition: 0.3s;
    color: rgb(69, 69, 69);
    margin: 0 20px;
}
.fa-icon:hover {
    color: #56cde4;
}
p {
    text-align: center;
}
