.icon-insta,
.icon-fb,
.icon-twitter {
    font-size: 76px;
    transition: 0.3s;
    margin: 0 10px;
}

.icon-insta.day,
.icon-fb.day,
.icon-twitter.day {
    color: rgb(69, 69, 69);
}

.icon-insta.night,
.icon-fb.night,
.icon-twitter.night {
    color: #f3f2f2;
}

.icon-insta:hover,
.icon-fb:hover,
.icon-twitter:hover {
    color: #56cde4;
}

@media (max-width: 600px) {
    .social-icons-container {
        width: 100%;
        margin: 0 auto;
    }
    .icon-insta,
    .icon-fb,
    .icon-twitter {
        margin: 0 12px;
    }
}
