.App {
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    color: rgb(69, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 242, 242);
    transition: color 0.3s, background-color 0.3s;
    flex-direction: column;
}

.App.night {
    color: rgb(243, 242, 242);
    background-color: rgb(69, 69, 69);
}

button {
    font-family: 'Urbanist', sans-serif;
    background-color: #FF2323;
    color: rgb(243, 242, 242);
    font-size: 18px;
    margin-top: 18px;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8b2121;
}

.home-icon-insta.day,
.icon-insta.day {
    color: rgb(69, 69, 69);
}

.home-icon-insta.night,
.icon-insta.night {
    color: rgb(243, 242, 242);
}

h1 {
    margin-top: 0;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: -3px;
}

p {
    text-align: center;
}

@media (orientation: landscape) {
    .app-logo {
        display: none;
    }
}

.main-container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-logo {
    width: 100%;
    max-width: 480px;
    max-height: 40vh;
    height: auto;
    display: block;
}
