.App {
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    color: rgb(69, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 242, 242);
    transition: color 0.3s, background-color 0.3s;
    flex-direction: column;
}

.app-logo {
    width: 200px;
    height: auto;
    top: 10px;
}

.App.night {
    color: rgb(243, 242, 242);
    background-color: rgb(69, 69, 69);
}

button {
    font-family: 'Urbanist', sans-serif;
    background-color: #56cde4;
    color: rgb(243, 242, 242);
    font-size: 18px;
    margin-top: 18px;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #95dceb;
}

.home-icon-insta.day,
.icon-insta.day {
    color: rgb(69, 69, 69);
}

.home-icon-insta.night,
.icon-insta.night {
    color: rgb(243, 242, 242);
}

p {
    text-align: center;
}